.container{
    margin: 50px 0;
    
}
.card{
    margin:3% !important;
    
}
.infected{
    border-bottom:10px solid rgb(95, 34, 6);
    background-image: url('./images/cards.jpg');
    
}
.recovered{
    border-bottom:10px solid rgba(0,255,0);
    background-image: url('./images/cards.jpg');
}
.deaths{
    border-bottom:10px solid rgba(255,0,0);
    background-image: url('./images/cards.jpg');
}
@media (max-width:770px){
    .card{
        margin:2% 0 !important;
    }
    
}